.container {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("/src/assets/background.jpg") no-repeat center center / cover;
  color: #fff;
  min-height: 100vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  overflow-x: hidden;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #ccc;
  margin-bottom: 4rem;
  text-align: center;
}

.form {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 3rem 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.formTitle {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.input,
.textarea,
.submitButton,
.fileLabel {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.input,
.textarea {
  padding: 1rem 1rem;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  backdrop-filter: blur(4px);
  outline: none;
  transition: border-color 0.3s;
}

.input::placeholder,
.textarea::placeholder {
  color: #bbb;
  font-family: var(--primary-font);
}

.input:focus,
.textarea:focus {
  border-color: #ffffff;
}

.textarea {
  resize: none;
  min-height: 70px;
}

.fileInput {
  display: none;
}

.fileLabel {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed #7a7a7a;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  backdrop-filter: blur(4px);
}

.fileLabel:hover {
  border: 2px dashed #ffffff;

  /* background-color: #4ade80; */
  /* color: #000; */
}

.submitButton {
  background-color: #4ade80;
  color: #000;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #22c55e;
}

@media (max-width: 640px) {
  .form {
    padding: 1.5rem;
  }

  .formTitle {
    font-size: 1.5rem;
  }
}

.imagePreview {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border: 2px solid #4ade80;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagePreview:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.logoutButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-top: 1rem;
  transition: color 0.3s ease;
}

.logoutButton:hover {
  color: #ccc;
}

.myBidsButton {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    border-color 0.3s ease;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin-top: 10px;
}

.myBidsButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #fff;
  transform: scale(1.02);
}
