@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

.wrapper {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("/src/assets/background.jpg") no-repeat center center / cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin-left: 24px;
  color: #ccc;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.nav a:hover {
  color: #fff;
}

.mainContent {
  display: flex;
  flex: 1;
  padding: 60px;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  flex: 1;
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
  color: #bbb;
  font-family: var(--secondary-font);
}

.rightContent {
  flex: 1;
  display: flex;
  justify-content: center;
}

.formCard {
  background: rgba(111, 111, 111, 0.3); /* було 0, стало 0.2 */
  padding: 36px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.roleSwitcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.switchButton {
  padding: 12px 20px;
  border: 1px solid #555;
  background: transparent;
  color: #ccc;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  font-family: var(--secondary-font);
}

.switchButton:hover {
  border: 1px solid #000000;
  color: #fff;
}

.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.formTitle {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  background: transparent;
  border: 1px solid #555;
  padding: 14px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-family: var(--secondary-font);
}

input::placeholder {
  color: #888;
}

.submitButton {
  background: #000;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s ease;
  font-family: var(--secondary-font);
}

.submitButton:hover {
  background: #0000005a;
}

.toggleText {
  text-align: center;
  margin-top: 18px;
  color: #bbb;
  font-family: var(--secondary-font);
}

.toggleLink {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-left: 6px;
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 14px;
  color: #888;
  font-family: var(--secondary-font);
}
