.Toastify__toast-container {
  width: 400px;
  max-width: 90vw;
  font-family: var(--secondary-font);
  z-index: 9999;
}

.Toastify__toast {
  background: rgba(111, 111, 111, 0.3);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 16px 24px;
  backdrop-filter: blur(10px);
  transition: background 0.5s ease, color 0.5s ease;
}

.Toastify__progress-bar {
  background: #000;
}

.Toastify__close-button {
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.Toastify__close-button:hover {
  opacity: 1;
}
